<div class="container">

        <header class="row">
             <div class="logo col-md-3 col-sm-12 text-md-left text-sm-center">
                 <%= link_to "greenie.", root_path %>
             </div>

             <div class="top-nav col-md-5 col-sm-12 offset-md-4 text-md-right text-sm-center">
                     <nav class="btn-group">
                         <% if scorer_session %>
                            <%= link_to "Signout", destroy_scorer_session_path, class: "btn btn-outline-success", method: :delete %>
                            <%= link_to "New Match", new_match_path, class: "btn btn-outline-success" %>
                         <% else %>
                             <%= link_to "Scorer Login", new_scorer_session_path, class: "btn btn-outline-success" %>
                             <%= link_to "Scorer Signup", new_scorer_registration_path, class: "btn btn-outline-success" %>
                         <% end %>
                     </nav>
             </div>
        </header>

</div>
