<div class="row">
    <div class="col-md-5">
        <%= form_for @match do |f| %>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-1">
                        <div class="text-md-center score_update_label">
                            <%= f.label :teamAName, @match.teamAName, class: "col-form-label" %>
                        </div>
                        <div>
                            <%= f.number_field :teamAScore, placeholder: @match.teamAScore, class: "score_update_input form-control" %>
                        </div>
                        <%= f.button "Update Team Score", class: "btn btn-primary btn-block"%>
                    </div>

                </div>
        <% end %>
    </div>

    <div class="col-md-2">
        <p class="score_update_versus text-md-center">VS</p>
    </div>

    <div class="col-md-5">
    <%= form_for @match do |f| %>
            <div class="form-group row">
                <div class="col-md-10 offset-md-1">
                    <div class="text-md-center score_update_label">
                        <%= f.label :teamBName, @match.teamBName, class: "col-form-label" %>
                    </div>
                    <div>
                        <%= f.number_field :teamBScore, placeholder: @match.teamBScore, class: "score_update_input form-control" %>
                    </div>
                    <%= f.button "Update Team Score", class: "btn btn-primary btn-block"%>
                </div>

            </div>
    <% end %>
    </div>

</div>
