
<div class="main-slider">

        <nav class="navbar navbar-toggleable-md navbar-light bg-home">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">
                  <a class="navbar-brand" href="/">greenie.</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <%= link_to "Home", root_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Track Matches", matches_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Match Results", results_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% if scorer_session %>
                                <%= current_scorer.school_name %>
                            <% else %>
                                Scorer Account
                            <% end %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <% if scorer_session %>
                                    <%= link_to "My Matches", my_matches_path, class: "dropdown-item" %>
                                    <%= link_to "New Match", new_match_path, class: "dropdown-item" %>
                                    <%= link_to "Sign Out", destroy_scorer_session_path, class: "dropdown-item", method: :delete %>
                                <% else %>
                                    <%= link_to "Scorer Login", new_scorer_session_path, class: "dropdown-item" %>
                                    <%= link_to "Scorer Signup", new_scorer_registration_path, class: "dropdown-item" %>
                                <% end %>
                            </div>
                        </li>
                      </ul>
                    </div>
                </div>
        </nav>
</div>
    <script type="text/javascript">
    $(".main-slider").backstretch([
        "assets/greenie_cover_rugby.jpg",
        "assets/greenie_cover_wp.jpg",
        "assets/greenie_cover_hockey.jpg"
    ], {duration: 6000, fade: 2050});
    </script>

<div class="tagline-bar">
    <h2 class="container text-md-center text-xs-center">LIVE SCORE TRACKING FOR SCHOOL SPORTS</h2>
</div>



<!-- <% if @live_matches.count > 0 %>
    <div class="live-container container">
        <div class="row">
            <div class="greenie-live col-md-5">
                    <h3 class="live-greenie"><p class="live-greenie-logo">LIVE on greenie.</p></h3>
            </div>

            <div class="live-matches col-md-7">
                <% @live_matches.each do |live_match| %>
                <div class="match-details-link-home">
                    <div class="row home-match-live">
                            <p class="col-md-3"><%= live_match.teamAName %></p><p class="col-md-1">VS</p><p class="col-md-3"><%= live_match.teamBName %></p>
                            <p class="col-md-3">@ <%= live_match.venue %></p>
                            <p class="col-md-1"><%= link_to "Track", match_path(live_match.id), class: "btn btn-primary btn-md" %></p>
                    </div>
                </div>
                <% end %>
            </div>

        </div>

    </div>
<% end %> -->
