<% if scorer_session %>
    <% if current_scorer.id == @match.scorer_id %>
        <div class="manage-match-menu row">
            <div class="col-sm-2">
                <%= link_to "Delete Match", match_path, class: "btn btn-danger btn-block", method: :delete %>
            </div>

            <div class="col-sm-2 offset-sm-8 text-sm-right">
                <a href="#" class="js-end-match-btn btn btn-warning btn-block">End Match</a>
            </div>
        </div>
    <% end %>
<% end %>



<div class="container">

        <header class="row">
             <div class="logo col-sm-3">
                 <%= link_to "greenie.", root_path %>
             </div>

             <div class="top-nav col-sm-5 offset-sm-4 text-sm-right">
                     <nav>
                         <%= link_to "All Matches", matches_path, class: "btn btn-outline-success" %>
                         <% if scorer_session %>
                             <%= link_to "My Matches", my_matches_path, class: "btn btn-outline-success" %>
                             <%= link_to "Signout", destroy_scorer_session_path, class: "btn btn-outline-success", method: :delete %>
                         <% end %>
                         <% if scorer_session == nil %>
                             <%= link_to "Scorer Login", new_scorer_session_path, class: "btn btn-outline-success" %>
                             <%= link_to "Scorer Signup", new_scorer_registration_path, class: "btn btn-outline-success" %>
                         <% end %>
                     </nav>
             </div>
        </header>

        <% if scorer_session && current_scorer.id == @match.scorer_id %>
                <div class="" id="matchScorerPanel">
                      <div class="row match-scorer-panel">
                          <%= render "partials/score_update_form" %>
                      </div>
                </div>

        <% else %>

                <div class="row">
                    <div class="match-score col-sm-12 text-sm-center">
                        <span class="team-name col-sm-4 text-sm-right"><%= @match.teamAName %></span>
                        <span class="teamScore col-sm-1"><%= @match.teamAScore %></span>
                        <span class="col-sm-2" style="margin-top: 2%;">VS</span>
                        <span class="teamScore col-sm-1"><%= @match.teamBScore %></span>
                        <span class="team-name col-sm-4 text-sm-left"><%= @match.teamBName %></span>
                    </div>
                </div>

                <div class=" row match-info">
                    <span class="col-sm-4">Competition: <%= @match.competition  %></span>
                    <span class="col-sm-4 text-sm-center">Umpires: <%= @match.firstRef %> & <%= @match.secondRef %></span>
                    <span class="col-sm-4 text-sm-right">Venue: <%= @match.venue %>, <%= @match.city %></span>
                </div>

        <% end %>


        <div class="row match-commentary">
            <%= render "partials/match_commentary" %>

            <% if scorer_session && current_scorer.id == @match.scorer_id %>
                <div class="col-sm-5">
                    <%= render "partials/add_match_event_form" %>
                </div>
            <% end %>

        </div>


</div>
