<%= render "partials/header" %>

<div class="row">
    <div class="form-group mx-auto">
            <%= form_tag '', :method => :get, class: "form-inline" do %>
                <%= select_tag(:sport, options_for_select(['','Basketball','Rugby','Field Hockey','Water Polo','Football'],params[:sport]),{:class =>"form-control mb-2 mr-sm-2 mb-sm-0"}) %>
                <%= select_tag(:competition, options_for_select(@competitions.reverse, params[:competition]),{:class =>"form-control mb-2 mr-sm-2 mb-sm-0"}) %>
                <%= submit_tag 'Filter Results', name: nil, class: "btn btn-primary" %>
            <% end %>
    </div>
</div>

<div class="container">
        <div class="row">
            <h3 class="mx-auto mb-3 font-weight-bold">Results</h3>
        </div>

        <div class="row">
            <% @match_results.each do |one_match| %>
                <div class="card col-md-5 mx-auto mb-3">
                    <div class="row">
                        <p class="mx-auto font-italic"><%= one_match.sport %></p>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 font-weight-bold text-sm-center">
                            <%= one_match.teamAName %>
                        </p>
                        <h4 class="col-sm-1 mx-auto font-weight-bold"><%= one_match.teamAScore %></h4>
                        <p class="col-sm-2 text-sm-center">VS</p>
                        <h4 class="col-sm-1 mx-auto font-weight-bold"><%= one_match.teamBScore %></h4>
                        <p class="col-sm-4 font-weight-bold text-sm-center">
                             <%= one_match.teamBName %>
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-sm-8 mx-auto text-sm-center">@ <%= one_match.venue %> on <%= one_match.matchdate.strftime("%A, %d %b %Y %l:%M %p") %></p>
                    </div>
                </div>
            <% end %>
        </div>

</div>
