<%= render "partials/header" %>

<div class="container">


        <div class="row">
            <p></p>
            <h3 class="col-md-12">Upcoming Matches</h3>
        </div>

<div class="row matches-home">
        <div class="col-md-9">
            <% @upcoming_matches.each do |one_match| %>
                <div class="row match-details-link">
                        <p class="col-md-2"><%= one_match.teamAName %></p><p class="col-md-1">VS</p><p class="col-md-2"><%= one_match.teamBName %></p>
                        <p class="col-md-4">@ <%= one_match.venue %> on <%= one_match.matchdate.strftime("%A, %d %b %Y %l:%M %p") %></p>
                    <% if one_match.sport != "" %>
                        <p class="col-md-2 btn btn-success btn-sm"><%= one_match.sport %></p>
                    <% end %>
                        <p class="col-md-1"><%= link_to "Track", match_path(one_match.id), class: "btn btn-primary btn-sm" %></p>
                </div>
            <% end %>
        </div>

        <div class="col-md-3">

        </div>
</div>

</div>
