<% if scorer_session %>
    <% if current_scorer.id == @match.scorer_id %>
        <div class="manage-match-menu container-fluid">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <%= link_to "Delete This Match", match_path, class: "btn btn-danger btn-block", method: :delete %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>


    <%= render "partials/header" %>
<div class="container match-body" data-match-id="<%= @match.id %>" data-match-status="<%= @match.matchStatus %>">


        <% if scorer_session && current_scorer.id == @match.scorer_id %>
            <div class="row">
                <%= render "partials/status_update" %>
            </div>
        <% end %>

        <div class="row mx-auto">
            <%= render "partials/match_status" %>
        </div>


        <% if scorer_session && current_scorer.id == @match.scorer_id %>
                <div id="matchScorerPanel">
                      <div class="row match-scorer-panel">
                          <%= render "partials/score_update_form" %>
                      </div>
                </div>
        <% else %>

                <div class="row">
                    <div class="match-score col-md-12 text-sm-center">
                        <p><%= @match.sport %></p>
                        <p class="team-name col-md-4 text-sm-center"><%= @match.teamAName %></p>
                        <p class="teamScore score1 col-md-1 text-sm-center"><%= @match.teamAScore %></p>
                        <p class="col-md-2 text-md-center" style="margin-top: 2%;">VS</p>
                        <p class="teamScore score2 col-md-1 text-sm-center"><%= @match.teamBScore %></p>
                        <p class="team-name col-md-4 text-sm-center"><%= @match.teamBName %></p>
                    </div>
                    <!-- <% if @match.matchStatus != "COMPLETED" || @match.matchStatus != "UPCOMING" || @match.matchStatus != "END OF QUARTER" %>
                      <div class="col-md-4 offset-md-4">
                          <div class="clock"></div>
                      </div>
                    <% end %> -->
                </div>

                <div class=" row match-info">
                    <p class="col-md-4 text-sm-center text-md-left">Competition: <%= @match.competition  %></p>
                    <p class="col-md-4 text-sm-center text-md-center">Umpires: <%= @match.firstRef %></p>
                    <p class="col-md-4 text-sm-center text-md-right">Venue: <%= @match.venue %>, <%= @match.city %></p>
                </div>

        <% end %>



        <!-- <div class="row match-commentary">
            <%= render "partials/match_commentary" %>
        </div> -->



</div>
