<% if scorer_session %>
    <% if current_scorer.id == @match.scorer_id %>
        <div class="manage-match-menu container-fluid">
            <div class="col-md-2">
                <%= link_to "Delete Match", match_path, class: "btn btn-danger btn-block", method: :delete %>
            </div>

            <div class="col-md-4 offset-md-6 text-md-right">
                <%= render "partials/status_update" %>
            </div>
        </div>
    <% end %>
<% end %>



<div class="container match-body" data-match-id="<%= @match.id %>" data-match-status="<%= @match.matchStatus %>">

        <header class="row">
             <div class="logo col-md-3">
                 <%= link_to "greenie.", root_path %>
             </div>

             <div class="top-nav col-md-5 offset-md-4 text-md-right">
                     <nav class="btn-group">
                         <%= link_to "All Matches", matches_path, class: "btn btn-outline-success" %>
                         <% if scorer_session %>
                             <%= link_to "My Matches", my_matches_path, class: "btn btn-outline-success" %>
                             <%= link_to "Signout", destroy_scorer_session_path, class: "btn btn-outline-success", method: :delete %>
                         <% end %>
                         <% if scorer_session == nil %>
                             <%= link_to "Scorer Login", new_scorer_session_path, class: "btn btn-outline-success" %>
                             <%= link_to "Scorer Signup", new_scorer_registration_path, class: "btn btn-outline-success" %>
                         <% end %>
                     </nav>
             </div>
        </header>


        <%= render "partials/match_status" %>
        <% if @match.matchStatus != "COMPLETED" || @match.matchStatus != "UPCOMING" || @match.matchStatus != "END OF QUARTER" %>
          <div class="col-md-8 offset-md-2">
              <div class="clock"></div>
          </div>
        <% end %>

        <% if scorer_session && current_scorer.id == @match.scorer_id  && @match.matchStatus != "COMPLETED" || @match.matchStatus != "UPCOMING" || @match.matchStatus != "END OF QUARTER"%>
                <div id="matchScorerPanel">
                      <div class="row match-scorer-panel">
                          <%= render "partials/score_update_form" %>
                      </div>
                </div>
        <% else %>

                <div class="row">
                    <div class="match-score col-md-12 text-md-center">
                        <span class="team-name col-md-4 text-md-right"><%= @match.teamAName %></span>
                        <span class="teamScore score1 col-md-1"><%= @match.teamAScore %></span>
                        <span class="col-md-2" style="margin-top: 2%;">VS</span>
                        <span class="teamScore score2 col-md-1"><%= @match.teamBScore %></span>
                        <span class="team-name col-md-4 text-md-left"><%= @match.teamBName %></span>
                    </div>
                </div>

                <div class=" row match-info">
                    <span class="col-md-4">Competition: <%= @match.competition  %></span>
                    <span class="col-md-4 text-md-center">Umpires: <%= @match.firstRef %> & <%= @match.secondRef %></span>
                    <span class="col-md-4 text-md-right">Venue: <%= @match.venue %>, <%= @match.city %></span>
                </div>

        <% end %>

        <% if scorer_session && current_scorer.id == @match.scorer_id && @match.matchStatus != "COMPLETED" || @match.matchStatus != "UPCOMING" || @match.matchStatus != "END OF QUARTER" %>
            <div class="row">
                <%= render "partials/add_match_event_form" %>
            </div>
        <% end %>

        <div class="row match-commentary">
            <%= render "partials/match_commentary" %>
        </div>


</div>
