<%= render "partials/header" %>
<div class="container">
<% match_sports_arr = ["Rugby","Water Polo","Field Hockey","Football","Basketball" ] %>
    <%= form_for @new_match do |f| %>
            <div class="form-group row">
                    <%= f.label :competition, "Competition:", class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :competition, placeholder: "Enter Competition name. i.e Friendly, Crusaders 2016",class: "form-control" %>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :venue, "Match Venue:",class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :venue, placeholder: "Host venue i.e St John's College" ,class: "form-control"%>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :city, "City:", class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :city, placeholder: "Host city? i.e Harare" ,class: "form-control"%>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :sport, "Sport:",class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.select :sport, options_for_select(match_sports_arr),{}, { :class => 'form-control' } %>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :teamAName, "Team A Name:", class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :teamAName, placeholder: "Girls College U15 B" ,class: "form-control"%>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :teamBName, "Team B Name:", class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :teamBName, placeholder: "Peterhouse Girls U15 B" ,class: "form-control"%>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :matchdate, "Match Date & Time:", class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.datetime_field :matchdate,  class: "form-control" %>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :firstRef, "First Referee:",class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :firstRef, placeholder: "First referee's name" ,class: "form-control"%>
                </div>
            </div>
            <div class="form-group row">
                    <%= f.label :secondRef, "Second Referee:", class: "col-sm-3 col-form-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :secondRef, placeholder: "Second referee's name" ,class: "form-control"%>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <%= f.button class: "btn btn-primary"%>
                </div>
            </div>
        <% end %>

</div>
