<!DOCTYPE html>
<html>
  <head>
    <title>Greenie</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <% if notice != nil %>
        <div class="alert-home alert-success" role="alert">
          <span class="notice"><%= notice %></span>
        </div>
    <% end %>
    <% if alert != nil %>
        <div class="alert-home alert-warning" role="alert">
          <span class="alert"><%= alert %></span>
        </div>
    <% end %>


        <%= yield %>


        <%= render "partials/footer" %>

  </body>
</html>
